*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins' sans-serif;
  box-sizing: border-box;
}
.header{
  width: 100%;
  height: 100vh;
  background-image: url(img/background.jpg);
  background-position: center;
  background-size: cover;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-right: 8%;
  padding-left: 8%;

}

.logo{
  color: white;
  cursor: pointer;
}

span{
  color: red;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding:10px 10px;
}
nav ul li a{
  color: white;
  text-transform:capitalize;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover{
  color: red;
  transition: .4s;
}
.btn{
  background-color: red;
  color:white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px;
  transition: transform .4s;
  border: 1px solid white;

}
.btn:hover{
  transform: scale(1.2);
    background-color: white;
    color:red;

}
.content{
  position: absolute;
  top: 50%;
  left: 8%;
  transform:translateY(-50%);
}
.content h1{
  color:white;
  margin:20px 0 20px;
  font-size: 75px;
}
h3{
  color:white;
  font-size: 25px;
  margin-bottom: 50px;
}
h4{
  color:#fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

.newsletter form{
  width: 350px;
  max-width: 100%;
  position: relative;
}

.newsletter form input:first-child{
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid red;
  outline: none;
  border-radius: 30px;
}

.newsletter form input:last-child{
  display: inline-block;
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: red;
  Color:white;
  top:6px;
  right: 6px;
  position: absolute;
}
.about{
  background-color: black;
  padding: 100px 0;
  width: 100%;
}
.about img{
  height: auto;
  width: 430px;
}
.acontent{
  width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;align-items: center;
  justify-content: space-around;
}
.acontent h1{
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 75px;
  font-weight: bold;
  padding-bottom: 20px;
}
.acontent h4{
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}
.acontent p{
  color: white;
  padding-bottom: 20px;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: justify;
}
button{
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: red;
  transition: .4s
}
button:hover{
  background-color: transparent;
  color: white;
  border-radius: 30px;
  border: 2px white solid;
  cursor: pointer;
}
.service{
  width: 100%;
  background-color: black;
  padding: 100px 0;
}
.service h1{
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 75px;
  padding-bottom: 20px;
  text-align: center;

}
.box{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card{
  background-color: #191919;
  height: 365;
  width:335 ;
  margin:15px;
  padding: 20px 35px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card h4{
  color:white;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}
.card p{
  color:white;
  margin: 10px 0;
  font-size: 18px;
  text-align: justify;
}
.read-more{
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: red;
  transition: .4s;
  margin:10px 0;
}
